.listTrending {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 16px;
  max-width: 100%;
  overflow-x: auto;
}

.listCommon {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
}
