/*.listTrending {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 16px;
  max-width: 100%;
  overflow-x: auto;
}*/

.listTrending {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	gap: 16px;
	max-width: 100%;
	overflow-x: auto;
}

.listCommon {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: center;
	gap: 12px;
}

@media screen and (min-width: 500px) {
	.listTrending {
		gap: 40px;
	}

	.listCommon {
		gap: 29px;
	}
}
