.section {
	margin: 0 0 24px 0;
}

.title {
	content: '';
	display: block;
	width: 200px;
	height: 25px;
	background-color: var(--color06);
	border-radius: 15px;
	margin: 0 0 24px 0;
	animation: skeleton-loading 1s linear infinite alternate;
}

.list {
	display: flex;
	flex-flow: row wrap;
	gap: 12px;
	align-items: flex-start;
	justify-content: center;
}

.cardImage {
	content: '';
	width: 164px;
	height: 164px;
	margin: 0 0 8px 0;
	border-radius: 8px;
	background-color: var(--color06);
	animation: skeleton-loading 1s linear infinite alternate;
}

.cardInfo {
	content: '';
	width: 150px;
	height: 14px;
	margin: 0 0 4px 0;
	background-color: var(--color06);
	border-radius: 15px;
	animation: skeleton-loading 1s linear infinite alternate;
}

.cardTitle {
	content: '';
	width: 100px;
	height: 18px;
	background-color: var(--color06);
	border-radius: 15px;
	animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton {
	-webkit-animation: skeleton-loading 1s linear infinite alternate;
	animation: skeleton-loading 1s linear infinite alternate;
}

.description {
	display: block;
	content: '';
	background-color: #f5f8fc;
	width: 80px;
	height: 14px;
	border-radius: 15px;
	margin: 0 0 24px 0;
	animation: skeleton-loading 1s linear infinite alternate;
}

@-webkit-keyframes skeleton-loading {
	0% {
		background-color: #c2cfd6;
	}
	100% {
		background-color: #f0f3f5;
	}
}

@keyframes skeleton-loading {
	0% {
		background-color: #c2cfd6;
	}
	100% {
		background-color: #f0f3f5;
	}
}

@media screen and (min-width: 500px) {
	.list {
		gap: 29px;
	}

	.cardImage {
		width: 170px;
		height: 230px;
	}

	.cardInfo {
		height: 16px;
	}

	.cardTitle {
		height: 23px;
		margin: 0 0 33px 0;
	}

	.description {
		width: 40%;
		height: 16px;
		margin: 0 0 33px 0;
	}

	.section {
		margin: 0 0 33px 0;
	}
}
