* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color01: #FC4747;
    --color02: #10141E;
    --color03: #5A698F;
    --color04: #161D2F;
    --color05: #FFFFFF;
    --color06: rgba(255, 255, 255, 0.5)
}

body{
    background-color: var(--color02);
}