.header {
	margin: 0 0 16px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: row nowrap;
}

.description {
	font-size: 13px;
	line-height: 16px;
	font-weight: 300;
	margin: 0 0 16px 0;
	text-align: left;
	color: var(--color07);
}

.headerModifierMg {
	margin: 0 0 24px 0;
}

.headerContainer {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 10px;
}

.indicator {
	display: inline-block;
	border: 2px solid var(--color05);
	color: var(--color05);
	font-weight: 500;
	font-size: 16px;
	padding: 3px 5px;
	border-radius: 5px;
}

.linkSeeMore {
	text-decoration: none;
	color: var(--color06);
	text-transform: uppercase;
	font-weight: 500;
	font-size: 0.9rem;
}

.linkSeeMore:is(:hover, :focus) {
	text-decoration: underline;
	color: var(--color01);
}

.section:not(:last-child) {
	margin: 0 0 24px 0;
}

@media screen and (min-width: 500px) {
	.headerContainer {
		gap: 15px;
	}

	.description {
		font-size: 15px;
		line-height: 19px;
		margin: 0 0 25px 0;
	}

	.header {
		margin: 0 0 25px 0;
	}

	.section:not(:last-child) {
		margin: 0 0 39px 0;
	}
}

@media screen and (min-width: 900px) {
	.section:not(:last-child) {
		margin: 0 0 40px 0;
	}

	.headerModifierMg {
		margin: 0 0 32px 0;
	}
}
