.card {
  border-radius: 8px;
  max-width: 164px;
}

.wrapperImage,
.wrapperImageEmpty {
  position: relative;
  width: 164px;
  height: 164px;
  margin: 0 0 8px 0;
}

.wrapperImageEmpty {
  color: var(--color05);
  background-color: var(--color03);
  border-radius: 8px;
}

.wrapperImageEmpty::after {
  content: "No Poster";
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  color: var(--color02);
  align-items: center;
  justify-content: center;
}

.wrapperImage:is(:hover, :focus) .hoverPoster {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.image {
  display: block;
  max-width: 100%;
  height: 100%;
  /*object-fit: fill;*/
  border-radius: 8px;
}

@media screen and (min-width: 500px) {
  .card {
    max-width: 170px;
  }

  .wrapperImage,
  .wrapperImageEmpty {
    width: 170px;
    height: 230px;
  }
}
