.section {
  margin: 0 0 24px 0;
}

.title {
  content: "";
  display: block;
  width: 200px;
  height: 25px;
  background-color: var(--color06);
  border-radius: 15px;
  margin: 0 0 24px 0;
  animation: skeleton-loading 1s linear infinite alternate;
}

.cardImage {
  content: "";
  width: 240px;
  height: 240px;
  margin: 0 0 8px 0;
  border-radius: 8px;
  background-color: var(--color06);
  animation: skeleton-loading 1s linear infinite alternate;
}

.cardInfo {
  content: "";
  width: 150px;
  height: 14px;
  margin: 0 0 4px 0;
  background-color: var(--color06);
  border-radius: 15px;
  animation: skeleton-loading 1s linear infinite alternate;
}

.cardTitle {
  content: "";
  width: 100px;
  height: 18px;
  background-color: var(--color06);
  border-radius: 15px;
  animation: skeleton-loading 1s linear infinite alternate;
}

.list {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: 16px;
  /*background-color: var(--color04);*/
  overflow-x: scroll;
}

.description {
  display: block;
  content: "";
  background-color: #f5f8fc;
  width: 80px;
  height: 14px;
  border-radius: 15px;
  margin: 0 0 24px 0;
  animation: skeleton-loading 1s linear infinite alternate;
}

/*.card {
  content: "";
  width: 240px;
  height: 240px;
  flex: 0 0 240px;
  background-color: #f5f8fc;
  box-shadow: 0 0 transparent, 0 0 transparent,
    0 0.375rem 0.375rem -0.125rem rgba(168, 179, 207, 0.4);
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid rgba(82, 88, 102, 0.2);
}*/

.skeleton {
  -webkit-animation: skeleton-loading 1s linear infinite alternate;
  animation: skeleton-loading 1s linear infinite alternate;
}

@-webkit-keyframes skeleton-loading {
  0% {
    background-color: #c2cfd6;
  }
  100% {
    background-color: #f0f3f5;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: #c2cfd6;
  }
  100% {
    background-color: #f0f3f5;
  }
}

@media screen and (min-width: 500px) {
  .list {
    gap: 40px;
  }

  .cardImage {
    width: 160px;
    height: 230px;
  }

  .title {
    height: 40px;
    margin: 0 0 33px 0;
  }

  .cardInfo {
    height: 16px;
  }

  .description {
    width: 40%;
    height: 16px;
    margin: 0 0 33px 0;
  }

  .section {
    margin: 0 0 33px 0;
  }
}
